[submodule "OpenLib/MultiButton"]
	path = OpenLib/MultiButton
	url = https://github.com/0x1abin/MultiButton
	branch = master
[submodule "OpenLib/perf_counter"]
	path = OpenLib/perf_counter
	url = https://github.com/GorgonMeducer/perf_counter
	branch = main
[submodule "OpenLib/letter_shell/Lib"]
	path = OpenLib/letter_shell/Lib
	url = https://github.com/NevermindZZT/letter-shell
	branch = master
[submodule "OpenLib/MultiTimer/Lib"]
	path = OpenLib/MultiTimer/Lib
	url = https://github.com/0x1abin/MultiTimer
	branch = development
